<!DOCTYPE html>
<html>
<head>
  <title>MusicApp2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
<p><% flash.notice.each do |err| %></p>
  <li> <%= err %></li>
  <% end unless flash.notice.nil?%>
</ul>
<%= yield %>
<p>
Navigation: <%= link_to 'Albums', albums_url %> <%= link_to 'Artists', artists_url %> <%= link_to 'Bands', bands_url %> <%= link_to 'Tracks', tracks_url %>
</p>
</body>
</html>
